{% extends "base.html" %}

{% block content %}
<!--    {% if form.errors %}-->
<!--        <p>Your username and password didn't match. Please try again.</p>-->
<!--    {% endif %}-->

    <section>
        <form method="post" action="{% url 'users:login' %}" class="form">
            {% csrf_token %}
            {{ form.as_p }}

            <button name="submit" class="btn">Log in</button>
            <input type="hidden" name="next" value="{% url 'logs:home' %}" />
            <p>Need an Account? <a href="{% url 'users:register' %}">Register</a></p>
        </form>
    </section>

{% endblock content %}