{% extends 'base.html' %}

{% block content %}
    <section class="contact">
        <h3 class="heading">Topics</h3>
        <div class="icons-container">
        {% for title in titles %}
            <div class="icons">
                 <i class="fas fa-clock"></i>
                 <h3><a href="{% url 'logs:topic' title.id %}">{{ title.title }}</a></h3>
                 <p>by: {{title.preacher}}</p>
                 <span>on: {{title.date_added|date:'M d, Y'}}</span>
              </div>
        {% empty %}
            <p class="empty">No topics have been added yet.</p>
        {% endfor %}
        </div>
    </section>
{% endblock %}